*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
.internship-container{
    max-width: 370px;
    font-family: sans-serif;
    background-color: rgba(255,253,245);
    margin: auto;
}
nav{
    position: sticky;
}
header nav{
    display: flex;
    padding: 3px 32px;
    justify-content: space-between;
    background-color: rgba(255,253,245);
    width: 100vw;
    text-align: center;
    position: relative;

}
header nav ul{
    display: none;
}
nav img{
    height: 50px;
    width: 180px;  
}
#logo{
  padding-top: 10px;
}
#thumbs{
    height: 45px;
    width: 45px;
    border: 5px solid #E7332B;
    background-color: #E7332B;
    position: absolute;
    border-radius: 50px;
    right: 30%;
    top: 15%;
    z-index: 1;
}
nav button{
    border: 4px solid #E7332B;
    background: #E7332B;
    border-radius: 25px;
    position: absolute;
    color: #fff;
    padding: 4px 12px;
    margin-top: 12px;
    right: 10%;
}
main{
  padding: 4px 8px;
}
#lady-image{
    height: 300px;
    width: 300px;
    margin-top: 20px;
    margin-left:10%;
 font-size: 1.6em;
 line-height: 1;
 padding: 0 5px;
 color:#363232;
 margin-top: 3%;
}
.section-1-2 img{
   width: 100px;
   margin-left: 40%;
}
#red-text{
    color: #E7332B;
    width: 100%;
    text-align: center;
}
.section-1-2 h3{
    text-align: center;
    font-size: 1.5em;
    
}
.section-1-2 p{
    font-size: 14px;
    text-align: center;
    color: #363232;
    margin-top: 5%;
} 
.section-1-end{
    display: block;
}
#enroll-btn{
    border: 4px solid #E7332B;
    background: #E7332B;
    border-radius: 25px;
    color: #fff;
    margin-top: 10%;
    margin-left: 35%;
    padding: 4px 12px;
}
#enroll-img{
    height: 70px;
    margin-left: 50%;
    margin-top: 6%;
    margin-bottom: 10%;
}
.section-3 h3{
    text-transform: uppercase;
    font-size: 1.2em;
    color: #363232;
    margin-top: 10%;
}
#mobile-box{
    display: none;
}
.section-3 img{
    height: 250px;
}
.section-3 p{
    color: #363232;
    padding-bottom: 18px;
    line-height: 1.5;
    font-size: 14px
}
.section-3 p a{
    color:#43b97f; 

}
.section-4-content p{
    color: #E7332B;
    font-size: 14px;
}
.section-4-content img{
    height: 50px;
    margin-left: 40%;
    margin-top: 5%;
    line-height: 1.2;
} 
.section-4-cards{
    padding: 8px 16px;
    font-size: 14px;
}
.section-4-content h3{
    font-weight: 200;
    margin-bottom: 15%;
}
.section-4-cards h3{
    font-size: 2.5em;
    margin-bottom: 10%;
}  
.section-4-cards h4{

    font-size: 1.3em;
    margin-bottom: 10%;
    font-weight: 200;
}  
.section-4-cards img{
    height: 100px;
    width: 100px;
    position: absolute;
    top: 0;
    left: 70%;
}
.card-1{
    background-color: #E7332B;
    padding: 30px 18px;
    border-radius: 25px;
    color: #fff;
    position: relative;
    margin-bottom: 10%;
}
.card-2{
    background-color: #fff;
    color: #363232;
    padding: 30px 18px;
    border-radius: 25px;
    position: relative;
    margin-bottom: 10%;
}
.card-3{
    background-color: #fff;
    color: #363232;
    padding: 30px 18px;
    border-radius: 25px;
    position: relative;
    margin-bottom: 10%;
}
.card-4{
    background-color: #fff;
    color: #363232;
    padding: 30px 18px;
    border-radius: 25px;
    position: relative;
    margin-bottom: 10%;
}
.card-5{
    background-color: #fff;
    color: #363232;
    padding: 30px 18px;
    border-radius: 25px;
    position: relative;
    margin-bottom: 10%;
}
.card-6{
    background-color: #fff;
    color: #363232;
    padding: 30px 18px;
    border-radius: 25px;
    position: relative;
    margin-bottom: 10%;
}
.section-4-cards .card:hover{
  
}
.card-6:hover{
    scale: (1.5);
}
.section-5{
    background-color: #E7332B;
    padding: 8px 16px;
    color: #fff;
}
.section-image img{
    height: 300px;
    width: 350px;
}
#section-7-wire{
    height: 60px;
    margin-left: 60%;
    margin-top: 10%;
}
.section-text h3{
font-weight: 600;
font-size: 1.2em;
margin-top: 6%;
margin-bottom: 10%;
}
.section-text span{
    font-size: 14px;
    letter-spacing: 1px;
}
#btn-btn{
    border: 4px solid #E7332B;
    color: #E7332B;
    border-radius: 25px;
    background-color: #fff;
    margin-top: 10%;
    margin-bottom: 10%;
    display: block;
    padding: 8px 16px;
}
.section-5 section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    padding: 8px 16px;

}
.section-5 section  img{
    height: 24px;
    width: 24px;
    
}
.section-5 section p{
    border: 1px solid #fff;
    border-radius: 25px;
    padding: 8px 14px;
    font-size: 14px;
}

.section-5 section p span{
    font-size: 12px;
    padding: 4px 4px;
    display: inline-block;
}
.first-icons p{
    margin-bottom: 10px;
    padding-top: 0;
    text-align: center;
    background-color: #363232;
}
.second-icons p{
    margin-bottom: 10px;
}
.second-icons{
    margin-top: 0;
}
.section-image img{
 margin-right: 35%;
 height: 250px;
 width: 300px;
}
.section-6{
    margin-top: 10%;
padding: 8px 18px;
}
.section-6-text p{
    color: #E7332B;
    font-size: 14px;
    margin-bottom: 5%;
}
.section-6-text img{
    height: 50px;
    margin-left: 30%;
}
.section-card1{
    margin-bottom: 10%;
    padding: 10% 20px;
    background-color: #fff;
    border-radius: 25px;
} 
.section-card1 h3{
    font-size: 1em;
    font-weight: 300;
    margin-bottom: 5%;
}
.section-card1 p{
    font-size: 14px;
    margin-top: 5%;
}
.section-card1 img{
    height: 40px;
    width: 40px;
}
#card-btn{
    border: 4px solid #E7332B;
    background: #E7332B;
    border-radius: 25px;
    color: #fff;
    margin-top: 2%;
    margin-left: 35%;
    margin-bottom: 10%;
    padding: 4px 12px;
}